In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

spx = pd.read_excel("SPX_train_0.xlsx")
spx["Returns"].value_counts()

1    516
0    383
Name: Returns, dtype: int64

# New Section

In [ ]:
spx.head()

      Time  Returns        dp        dy  ...     tms     dfy     dfr      infl
0  1945-01        1 -3.041609 -3.027403  ...  0.0202  0.0077 -0.0051  0.000000
1  1945-02        0 -3.096132 -3.036338  ...  0.0198  0.0076 -0.0031  0.000000
2  1945-03        1 -3.043790 -3.091042  ...  0.0198  0.0076 -0.0003  0.000000
3  1945-04        1 -3.128109 -3.043790  ...  0.0190  0.0075 -0.0142  0.000000
4  1945-05        0 -3.139500 -3.128109  ...  0.0188  0.0070 -0.0067  0.005618

[5 rows x 16 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import svm  
import pickle
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler

minmax_scaler = MinMaxScaler()


X = minmax_scaler.fit_transform(spx.loc[:,"dp":])
y = spx.loc[:,"Returns"]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

rbf_svc = svm.SVC(kernel='rbf')
rbf_svc.fit(X_train, y_train)

y_pred = rbf_svc.predict(X_test)
print(y_test)
print(X_test[0])
print(y_pred)

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

pickle.dump(rbf_svc, open('model.pkl','wb'))

293    0
645    1
272    0
634    1
742    1
      ..
142    1
675    1
577    1
707    1
613    1
Name: Returns, Length: 270, dtype: int64
[0.56221826 0.53091008 0.65954253 0.23649889 0.00960219 0.43854378
 0.94478585 0.39472069 0.34874905 0.5054779  0.4195122  0.13071895
 0.46495327 0.31608785]
[0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1
 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1
 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 1 1 1 0 1 0
 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 1 0
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 0 1 1 1]
[[ 29  79]
 [ 18 144]]
              precision    recall  f1-score   support

           0       0.62      0.27      0.37       108
           1       0.65      0.89      0.75       162

    accuracy                           0.64       270
   macro avg       0.63      0.58      0.56       270
weighted avg       0.63      0.64      0.60       270